#posts {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#posts h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#posts a {
    text-decoration: none;
    color: blue;
}

#posts a:hover {
    text-decoration: underline;
}
